.item-container,
.product-container,
.offer-product-container,
.manage-inventory-container {

    margin: 10px;
    box-sizing: border-box;
    box-shadow: 10px 10px rgba(223, 15, 133, 0.138);
    border-radius: 10px;
}

.img-container,
.baby-img-container,
.offer-product-img-container,
.manage-inventory-img-container {

    box-sizing: border-box;
    box-shadow: 10px 2px rgb(223, 218, 209)
}

.detail-container,
.baby-product-detail-container,
.offer-product-product-detail-container,
.manage-inventory-detail-container {
    margin-bottom: 5px;
}