.items-container,
.products-container,
.offer-products-container,
.manage-inventories-items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 5px solid lightslategray;
}